#### To know the current directory

In [2]:
pwd

'/Users/Virajdeshwal/Desktop/tf_practice'

In [1]:
import pandas as pd

In [3]:
file = pd.read_csv('Salaries.csv')

In [11]:
file[['Name', 'Salary']] #calling the particular column

     Name  Salary
0    John   50000
1   Sally  120000
2  Alyssa   80000

# max, min, mean operation on column

In [18]:
print('The max salary is :', file['Salary'].max())
print('The min salary is :', file['Salary'].min())
print('The average salary is :', file['Salary'].mean())

The max salary is : 120000
The min salary is : 50000
The average salary is : 83333.33333333333

### More information about the table

In [21]:
file.describe() #min , max, std...

              Salary        Age
count       3.000000   3.000000
mean    83333.333333  35.333333
std     35118.845843   9.073772
min     50000.000000  27.000000
25%     65000.000000  30.500000
50%     80000.000000  34.000000
75%    100000.000000  39.500000
max    120000.000000  45.000000

### Boolean operations

In [27]:
file[file['Salary']>40000]

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

### CSV file to return as Numpy Array

In [29]:
file.as_matrix()

array([['John', 50000, 34],
       ['Sally', 120000, 45],
       ['Alyssa', 80000, 27]], dtype=object)